# Porto do servidor (padrão: 5000)
PORT=5000

# URL de conexão com o Banco de Dados (PostgreSQL)
# Exemplo se usar Docker local:
DATABASE_URL="postgresql://usuario:senha@localhost:5432/agenda_db?schema=public"

# URL do Frontend (para controle de CORS)
FRONTEND_URL="http://localhost:3000"
